@charset "UTF-8";
.setEnd {
  min-height: calc(100% - 200px);
}
@media (min-width: 290px) and (max-width: 1199px) {
  .setEnd {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .setEnd {
    min-height: 100vh;
  }
}

.well {
  padding: 10px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-hide {
  margin: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes cujpin {
  0% {
    -webkit-transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes cujpin {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes fanda {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fanda {
  0% {
    -webkit-transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes dialuodn {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  5% {
    transform: translateY(-200%);
  }

  15% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-100%);
  }

  40% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-60%);
  }

  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-30%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-14%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-6%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes dialuodn {
  0% {
    -webkit-transform: translateY(-200%);
    opacity: 0;
  }

  5% {
    -webkit-transform: translateY(-200%);
  }

  15% {
    -webkit-transform: translateY(0);
  }

  30% {
    -webkit-transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(-60%);
  }

  70% {
    -webkit-transform: translateY(0%);
  }

  80% {
    -webkit-transform: translateY(-30%);
  }

  90% {
    -webkit-transform: translateY(0%);
  }

  95% {
    -webkit-transform: translateY(-14%);
  }

  97% {
    -webkit-transform: translateY(0%);
  }

  99% {
    -webkit-transform: translateY(-6%);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes zhuan {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes zhuan {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes around1 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(300px, 230px);
  }

  40% {
    -webkit-transform: translate(200px, -100px);
  }

  60% {
    -webkit-transform: translate(50px, 230px);
  }

  80% {
    -webkit-transform: translate(300px, -50px);
  }

  100% {
    -webkit-transform: translate(200px, 240px);
  }
}
@keyframes around1 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(300px, 230px);
  }

  40% {
    transform: translate(200px, -100px);
  }

  60% {
    transform: translate(50px, 230px);
  }

  80% {
    transform: translate(300px, -50px);
  }

  100% {
    transform: translate(200px, 240px);
  }
}
@-webkit-keyframes around2 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  10% {
    -webkit-transform: translate(300px, -120px);
  }

  30% {
    -webkit-transform: translate(250px, 130px);
  }

  50% {
    -webkit-transform: translate(-50px, -120px);
  }

  80% {
    -webkit-transform: translate(0px, 140px);
  }

  100% {
    -webkit-transform: translate(300px, -180px);
  }
}
@keyframes around2 {
  0% {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(300px, -120px);
  }

  30% {
    transform: translate(250px, 130px);
  }

  50% {
    transform: translate(-50px, -120px);
  }

  80% {
    transform: translate(0px, 140px);
  }

  100% {
    transform: translate(300px, -180px);
  }
}
@-webkit-keyframes around3 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  25% {
    -webkit-transform: translate(70px, -290px);
  }

  50% {
    -webkit-transform: translate(320px, 0px);
  }

  80% {
    -webkit-transform: translate(-20px, -290px);
  }

  100% {
    -webkit-transform: translate(290px, 0px);
  }
}
@keyframes around3 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(70px, -290px);
  }

  50% {
    transform: translate(320px, 0px);
  }

  80% {
    transform: translate(-20px, -290px);
  }

  100% {
    transform: translate(290px, 0px);
  }
}
@-webkit-keyframes around4 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  12% {
    -webkit-transform: translate(50px, 250px);
  }

  30% {
    -webkit-transform: translate(-150px, -30px);
  }

  60% {
    -webkit-transform: translate(-140px, 260px);
  }

  80% {
    -webkit-transform: translate(-10px, -30px);
  }

  100% {
    -webkit-transform: translate(-20px, 260px);
  }
}
@keyframes around4 {
  0% {
    transform: translate(0px, 0px);
  }

  12% {
    transform: translate(50px, 250px);
  }

  30% {
    transform: translate(-150px, -30px);
  }

  60% {
    transform: translate(-140px, 260px);
  }

  80% {
    transform: translate(-10px, -30px);
  }

  100% {
    transform: translate(-20px, 260px);
  }
}
@-webkit-keyframes around5 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  22% {
    -webkit-transform: translate(-50px, -170px);
  }

  46% {
    -webkit-transform: translate(150px, 145px);
  }

  80% {
    -webkit-transform: translate(200px, -115px);
  }

  100% {
    -webkit-transform: translate(-100px, 145px);
  }
}
@keyframes around5 {
  0% {
    transform: translate(0px, 0px);
  }

  22% {
    transform: translate(-50px, -170px);
  }

  46% {
    transform: translate(150px, 145px);
  }

  80% {
    transform: translate(200px, -115px);
  }

  100% {
    transform: translate(-100px, 145px);
  }
}
@-webkit-keyframes around6 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  15% {
    -webkit-transform: translate(260px, 40px);
  }

  30% {
    -webkit-transform: translate(-80px, -260px);
  }

  45% {
    -webkit-transform: translate(-40px, 40px);
  }

  60% {
    -webkit-transform: translate(100px, -290px);
  }

  75% {
    -webkit-transform: translate(-80px, -280px);
  }

  100% {
    -webkit-transform: translate(10px, 40px);
  }
}
@keyframes around6 {
  0% {
    transform: translate(0px, 0px);
  }

  15% {
    transform: translate(260px, 40px);
  }

  30% {
    transform: translate(-80px, -260px);
  }

  45% {
    transform: translate(-40px, 40px);
  }

  60% {
    transform: translate(100px, -290px);
  }

  75% {
    transform: translate(-80px, -280px);
  }

  100% {
    transform: translate(10px, 40px);
  }
}
@-webkit-keyframes around7 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(-60px, -170px);
  }

  40% {
    -webkit-transform: translate(90px, 160px);
  }

  60% {
    -webkit-transform: translate(-220px, -140px);
  }

  80% {
    -webkit-transform: translate(160px, -60px);
  }

  100% {
    -webkit-transform: translate(-100px, -100px);
  }
}
@keyframes around7 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(-60px, -170px);
  }

  40% {
    transform: translate(90px, 160px);
  }

  60% {
    transform: translate(-220px, -140px);
  }

  80% {
    transform: translate(160px, -60px);
  }

  100% {
    transform: translate(-100px, -100px);
  }
}
@-webkit-keyframes around8 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(140px, -120px);
  }

  40% {
    -webkit-transform: translate(-140px, 40px);
  }

  60% {
    -webkit-transform: translate(-180px, -240px);
  }

  80% {
    -webkit-transform: translate(100px, 50px);
  }

  100% {
    -webkit-transform: translate(-180px, -220px);
  }
}
@keyframes around8 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(140px, -120px);
  }

  40% {
    transform: translate(-140px, 40px);
  }

  60% {
    transform: translate(-180px, -240px);
  }

  80% {
    transform: translate(100px, 50px);
  }

  100% {
    transform: translate(-180px, -220px);
  }
}
@-webkit-keyframes around9 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  30% {
    -webkit-transform: translate(-300px, -180px);
  }

  60% {
    -webkit-transform: translate(-350px, 120px);
  }

  80% {
    -webkit-transform: translate(-100px, -200px);
  }

  100% {
    -webkit-transform: translate(-200px, 100px);
  }
}
@keyframes around9 {
  0% {
    transform: translate(0px, 0px);
  }

  30% {
    transform: translate(-300px, -180px);
  }

  60% {
    transform: translate(-350px, 120px);
  }

  80% {
    transform: translate(-100px, -200px);
  }

  100% {
    transform: translate(-200px, 100px);
  }
}
@-webkit-keyframes around10 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  15% {
    -webkit-transform: translate(-300px, -270px);
  }

  30% {
    -webkit-transform: translate(20px, -220px);
  }

  50% {
    -webkit-transform: translate(-350px, 10px);
  }

  75% {
    -webkit-transform: translate(0px, -150px);
  }

  100% {
    -webkit-transform: translate(-300px, -300px);
  }
}
@keyframes around10 {
  0% {
    transform: translate(0px, 0px);
  }

  15% {
    transform: translate(-300px, -270px);
  }

  30% {
    transform: translate(20px, -220px);
  }

  50% {
    transform: translate(-350px, 10px);
  }

  75% {
    transform: translate(0px, -150px);
  }

  100% {
    transform: translate(-300px, -300px);
  }
}
@-webkit-keyframes around11 {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  32% {
    -webkit-transform: translate(-270px, -70px);
  }

  60% {
    -webkit-transform: translate(-320px, 220px);
  }

  80% {
    -webkit-transform: translate(10px, -10px);
  }

  100% {
    -webkit-transform: translate(-260px, 220px);
  }
}
@keyframes around11 {
  0% {
    transform: translate(0px, 0px);
  }

  32% {
    transform: translate(-270px, -70px);
  }

  60% {
    transform: translate(-320px, 220px);
  }

  80% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-260px, 220px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
legend {
  color: black;
  border-bottom: 1px solid black;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 0 5px 5px 0;
}

button,
input,
optgroup,
select,
textarea {
  font: 1em / 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
  vertical-align: middle;
  display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  padding: 0 5px 0 25px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"] + label {
  background: url(../images/check.svg) 0 0 no-repeat;
}

input[type="radio"] + label {
  background: url(../images/radio.svg) 0 0 no-repeat;
}

input[type="checkbox"]:checked + label {
  background: url(../images/check.svg) 0 -20px no-repeat;
}

input[type="radio"]:checked + label {
  background: url(../images/radio.svg) 0 -20px no-repeat;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-group:before, .form-group:after {
  display: table;
  content: " ";
  clear: both;
}

.form-control {
  width: 100%;
  padding: 10px;
  color: black;
  background: white;
  border: 1px solid #dddddd;
}
.form-control:focus, .form-control:hover {
  border: 1px solid #dddddd;
  outline: none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background: #e6e6e6;
  opacity: 1;
  cursor: not-allowed;
}

.has-error {
  color: #df0000;
}

.form-control.err {
  border-color: #df0000;
}
.form-control.err:focus, .form-control.err:hover {
  border-color: #df0000;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  touch-action: manipulation;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background: #cccccc;
  border: none;
  outline: none;
}
.btn:hover, .btn:focus, .btn:active {
  border: none;
  outline: none;
}
.btn.disabled, .btn[disabled], .btn fieldset[disabled] {
  cursor: not-allowed;
}

.btnOut {
  background: #d0d0d0;
  color: white;
  outline: 1px solid #d0d0d0;
}
.btnOut:hover, .btnOut:focus {
  background: #a6a6a6;
  box-shadow: 0 0 5px 0 #b3b3b3;
}

.btnAsap {
  background: #df0000;
  color: white;
  outline: 1px solid white;
}

.btnRe {
  background: white;
  color: #df0000;
  outline: 1px solid #df0000;
}
.btnRe:hover, .btnRe:focus {
  outline: 1px solid #df0000;
}

.btnLink {
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  color: #0098e7;
  letter-spacing: -0.05px;
}
.btnLink:hover, .btnLink:focus {
  background: none;
}

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.7em;
}

#Megamenu_BgCover {
  position: absolute;
  left: 0;
  height: 160%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow: hidden;
  transition: 0.05s;
}

.BgCover, .BgCoverW {
  position: fixed;
  top: 0;
  left: 0;
  height: 160%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  transition: 0.05s;
}

.BgCover.BgCoverShow {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  transition: 0.2s;
}

.BgCoverW.BgCoverShow {
  background: transparent;
  z-index: 1000;
}

#ModalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-y: scroll;
  z-index: 1010;
  font-size: 16px;
}
#ModalDialog img[src=""] {
  display: none;
}
#ModalDialog a[href=""] {
  display: none;
}
#ModalDialog .ModalContent {
  position: relative;
  width: 90%;
  margin: 2% auto;
  pointer-events: auto;
}
@media (min-width: 768px) {
  #ModalDialog .ModalContent {
    width: 80%;
  }
}
@media (min-width: 992px) {
  #ModalDialog .ModalContent {
    max-width: 500px;
  }
}
#ModalDialog .Alert-ModalContent {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  pointer-events: auto;
}
@media (min-width: 1200px) {
  #ModalDialog .Alert-ModalContent {
    max-width: 500px;
  }
}
#ModalDialog .Modal-bd {
  animation: translateModalY 0.3s 1;
}
#ModalDialog .Modal-tt {
  padding: 15px 30px 10px 30px;
  border-radius: 20px 20px 0 0;
  background: #0098e7;
  color: white;
  font-size: 1.2em;
}
#ModalDialog .Modal-ct {
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px 30px;
  color: #575757;
  border: 2px solid #0098e7;
  background: #f2f2f2;
  border-radius: 0 0 20px 20px;
}
#ModalDialog .ModalBtn {
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
}
#ModalDialog .ModalUrl {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}
#ModalDialog .btnLink {
  padding: 5px 20px;
}
#ModalDialog .icon-cross {
  position: absolute;
  right: 15px;
  top: 12px;
  border: none;
  background: none;
  color: white;
}
#ModalDialog .form-control {
  margin-bottom: 22px;
}
#ModalDialog .form-control + .has-error, #ModalDialog .form-control + .has-tips {
  position: absolute;
  top: 43px;
  margin-left: 5px;
  font-size: 0.85em;
}
#ModalDialog .form-control + .has-tips {
  color: #575757;
}
#ModalDialog .tips {
  margin-bottom: 22px;
  line-height: 1.2em;
}

#MsgAlert {
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  margin: 0 auto;
  padding: 10px 15px;
  box-shadow: 0 4px 10px 2px rgba(51, 51, 102, 0.1);
  text-align: center;
  background: white;
  z-index: 1010;
}

#Loading {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 100px);
  z-index: 1011;
}

#AlertMsg {
  line-height: 1.4em;
}

#ModalDialog .btn-block {
  font-size: 1.2em;
}
#ModalDialog .btnLogin {
  background: #0098e7;
  color: white;
}
#ModalDialog .btnFB {
  background: #4460ae;
  color: white;
}
#ModalDialog .btnLine {
  background: #00b300;
  color: white;
}
#ModalDialog .btnLine .LineWall {
  position: relative;
  display: inline-block;
  margin: 1px 0 0;
  padding: 0 0 0 22px;
}
#ModalDialog .btnLine .LineWall .LINEImg {
  width: 25px;
  position: absolute;
  left: -8px;
  top: -2px;
}
#ModalDialog .btnOther, #ModalDialog .btnOut {
  position: relative;
  margin-top: 35px;
}
#ModalDialog .btnOther:before, #ModalDialog .btnOut:before {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  content: "or";
  color: #b3b3b3;
}
#ModalDialog .btnOther .col-xs-6:first-child, #ModalDialog .btnOut .col-xs-6:first-child {
  padding: 0 5px 0 0;
}
#ModalDialog .btnOther .col-xs-6:last-child, #ModalDialog .btnOut .col-xs-6:last-child {
  padding: 0 0 0 5px;
}
#ModalDialog .link {
  position: absolute;
  top: 65px;
  right: 30px;
}
#ModalDialog .Modal-ct.log {
  padding-top: 50px;
}
#ModalDialog .w2 {
  width: 20%;
}
#ModalDialog .FB-Modal .link {
  left: 32px;
}
#ModalDialog .FB-Modal .btnLogin {
  background: #df0000;
}
#ModalDialog .rule-well {
  height: 180px;
  margin: 10px 0 22px;
  padding: 10px;
  overflow-y: scroll;
  background: white;
  border: 1px solid #dddddd;
  line-height: 1.2em;
}
#ModalDialog .rule-well .tt {
  margin: 5px 0;
  padding: 0 0 0 5px;
  border-left: 5px solid #0098e7;
  color: #0098e7;
}
#ModalDialog .ModalBBtn {
  margin-top: 10px;
}
#ModalDialog .ModalBBtn .col-xs-6 {
  padding-right: 3px;
}
#ModalDialog .ModalBBtn .col-xs-6:last-child {
  padding: 0 0 0 2px;
}
#ModalDialog input[type="date"]:before {
  content: attr(data-placeholder);
  color: #757575;
}
#ModalDialog input[type="date"]:focus, #ModalDialog input[type="date"]:valid {
  color: black;
}
#ModalDialog input[type="date"]:focus::before, #ModalDialog input[type="date"]:valid::before {
  display: none;
}
#ModalDialog input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  color: #757575;
}
#ModalDialog .btnCode {
  padding: 10px;
}

#reCAPTCHA {
  margin-bottom: 20px;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: black;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: white;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
  }
}

.modal-content {
  position: relative;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 50px;
  }
}

.modal {
  font: 1em / 1.2em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal .icon-cross {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: -45px;
  background: url(https://img.eclife.com.tw/EDM/10906/cross.svg) no-repeat;
  z-index: 9;
  cursor: pointer;
  border: none;
}
.modal .modal-title {
  margin: 0;
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal .modal-title {
    margin: 20px 10px;
  }
}
@media (min-width: 992px) {
  .modal .modal-title {
    font-size: 1.5em;
  }
}
.modal .modal-ps {
  text-align: center;
}
.modal .modal-ps a {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  color: black;
  padding: 15px 30px;
  background: #fbd005;
  border-radius: 30px;
  display: inline-block;
  margin: 0 0 20px;
}
.modal .modal-ps a:hover {
  color: #881a0c;
}
@media (min-width: 992px) {
  .modal .modal-ps a {
    font-size: 1.5em;
  }
}
.modal .col-xs-offset-2 {
  padding: 10px 0;
}
.modal .bn-Pay {
  padding: 5px 30px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .modal .bn-Pay {
    display: block;
    border-radius: 50%;
    padding: 30px 20px;
    font-size: 2em;
  }
}

.js-doc {
  overflow: hidden;
}

#js-doc-bg {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

.icon-cross:before {
  content: url("https://img.eclife.com.tw/EDM/10907/MediaShow/Coupon/x.svg");
  display: inline-block;
  width: 15px;
  padding-top: 5px;
}

.icon-fb:before {
  content: url("https://img.eclife.com.tw/EDM/10907/MediaShow/Coupon/fb.svg");
  display: inline-block;
  width: 20px;
  position: relative;
  top: 2px;
}

.LINEImg {
  width: 25px;
  position: absolute;
  left: -8px;
  top: -2px;
}

.LineWall {
  position: relative;
  display: inline-block;
  margin: 1px 0 0;
  padding: 0 0 0 22px;
}

.btnLine {
  background: #00b300;
  color: white;
}

#HeaderApp {
  position: absolute;
  top: -100%;
  width: 0;
}

body {
  background: url("https://img.eclife.com.tw/EDM/11012/merrychristmas2021/game-m_BG.jpg") no-repeat center 12px #d4dde5;
  background-size: 100%;
}
@media (min-width: 992px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11012/merrychristmas2021/game-md.jpg") no-repeat center 30px #d4dde5;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11012/merrychristmas2021/game_BG.jpg") no-repeat center -20px #d4dde5;
  }
}

#lsdv .ec-logo {
  background-color: white;
  text-align: center;
}
@media (min-width: 768px) {
  #lsdv .ec-logo {
    text-align: left;
  }
}
#lsdv .ec-logo .logo-well {
  padding: 5px;
}
#lsdv .ec-logo .logo-a {
  position: relative;
  display: inline-block;
  width: 35%;
  font-weight: bold;
}
@media (min-width: 768px) {
  #lsdv .ec-logo .logo-a {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .logo-a {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  #lsdv .ec-logo .logo-a {
    width: 15%;
  }
}
#lsdv .ec-logo .link-a {
  position: relative;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 5px 0 0;
  color: #581b0b;
  float: left;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a {
    padding: 5px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .link-a {
    padding: 10px 0 0;
  }
}
@media (min-width: 1200px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:after {
    content: "｜";
    margin-left: 10px;
  }
}
#lsdv .ec-logo .link-a:last-child:after {
  content: "";
}
#lsdv .ec-logo .link-a:nth-child(2) {
  margin: 0 5px 0 10px;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 5px;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 10px 0 30px;
  }
}
#lsdv .ec-logo .link-a:hover {
  color: #94331a;
}
#lsdv .ec-logo .link-a:hover:after {
  color: #581b0b;
}
#lsdv .EDM .bd {
  position: relative;
  overflow-x: hidden;
}
#lsdv .EDM .tt {
  margin: 0;
}
#lsdv .EDM .ps {
  margin-top: 50px;
}
@media (min-width: 992px) {
  #lsdv .EDM .ps {
    margin-top: 0;
  }
}
#lsdv .EDM .tt, #lsdv .EDM .ps {
  z-index: 6;
  pointer-events: none;
}
#lsdv .EDM .box {
  position: relative;
}
#lsdv .EDM .box .cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: white;
}
@media (min-width: 992px) {
  #lsdv .EDM .box .cont {
    transform: translate(-50%, -10%);
    font-size: 2em;
  }
}
#lsdv .EDM .game-bg {
  position: relative;
}
#lsdv .EDM .answer {
  margin: 3px 0 25px;
  padding: 0 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  #lsdv .EDM .answer {
    padding: 0 46px;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .answer {
    margin: 3px 0 40px;
  }
}
@media (min-width: 1700px) {
  #lsdv .EDM .answer {
    margin: 10px 0 100px;
    padding: 0 60px;
  }
}
#lsdv .EDM .answer #photo {
  filter: opacity(10%);
}
#lsdv .EDM #myButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}
#lsdv .EDM #myButton img {
  width: 150px;
  height: 150px;
}
@media (min-width: 992px) {
  #lsdv .EDM #myButton img {
    width: 200px;
    height: 200px;
  }
}
#lsdv .EDM .answer [id*="point"] {
  position: absolute;
  border-radius: 50%;
}
#lsdv .EDM #point1 {
  left: 15%;
  top: 13%;
  width: 55px;
  height: 63px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point1 {
    top: 14%;
    width: 96px;
    height: 126px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point1 {
    top: 13%;
    width: 115px;
    height: 193px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point1 {
    top: 7%;
    left: 21%;
    height: 120px;
  }
}
#lsdv .EDM #point2 {
  left: 26%;
  top: 42%;
  width: 63px;
  height: 63px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point2 {
    top: 42%;
    width: 107px;
    height: 140px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point2 {
    left: 25%;
    top: 32%;
    width: 127px;
    height: 171px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point2 {
    top: 26%;
    left: 36.5%;
    width: 77px;
    height: 90px;
  }
}
#lsdv .EDM #point3 {
  left: 19%;
  top: 61%;
  width: 50px;
  height: 58px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point3 {
    top: 60%;
    width: 97px;
    height: 152px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point3 {
    top: 61%;
    width: 112px;
    height: 166px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point3 {
    top: 44%;
    left: 10.5%;
    width: 75px;
    height: 100px;
  }
}
#lsdv .EDM #point4 {
  left: 31%;
  top: 90%;
  width: 43px;
  height: 63px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point4 {
    top: 90%;
    width: 89px;
    height: 120px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point4 {
    top: 90%;
    width: 107px;
    height: 167px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point4 {
    top: 85%;
    left: 3%;
    width: 85px;
    height: 100px;
  }
}
#lsdv .EDM #point5 {
  left: 10%;
  top: 80%;
  width: 45px;
  height: 63px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point5 {
    top: 80%;
    width: 112px;
    height: 144px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point5 {
    top: 81%;
    width: 136px;
    height: 165px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point5 {
    top: 76%;
    left: 27%;
    width: 80px;
    height: 120px;
  }
}
#lsdv .EDM #point6 {
  left: 61%;
  top: 8%;
  width: 44px;
  height: 67px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point6 {
    top: 7%;
    width: 102px;
    height: 161px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point6 {
    top: 10%;
    width: 127px;
    height: 161px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point6 {
    top: 23%;
    left: 74.5%;
    width: 93px;
    height: 125px;
  }
}
#lsdv .EDM #point7 {
  left: 76%;
  top: 71%;
  width: 44px;
  height: 84px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point7 {
    top: 71%;
    width: 107px;
    height: 165px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point7 {
    top: 73%;
    width: 133px;
    height: 165px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point7 {
    top: 44%;
    left: 91.5%;
    height: 100px;
    width: 80px;
  }
}
#lsdv .EDM #point8 {
  left: 59%;
  top: 60%;
  width: 50px;
  height: 82px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point8 {
    top: 60%;
    width: 103px;
    height: 165px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point8 {
    top: 62%;
    width: 132px;
    height: 177px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point8 {
    left: 70%;
    top: 80%;
    width: 77px;
    height: 100px;
  }
}
#lsdv .EDM #point9 {
  left: 83%;
  top: 0px;
  width: 51px;
  height: 75px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point9 {
    left: 83%;
    width: 88px;
    height: 144px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point9 {
    width: 134px;
    height: 180px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point9 {
    left: 87%;
    top: 70%;
    width: 64px;
    height: 119px;
  }
}
#lsdv .EDM #point10 {
  left: 82%;
  top: 32%;
  width: 46px;
  height: 63px;
}
@media (min-width: 768px) {
  #lsdv .EDM #point10 {
    top: 32%;
    width: 102px;
    height: 143px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM #point10 {
    top: 33%;
    width: 143px;
    height: 172px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM #point10 {
    left: 51%;
    top: 65%;
    width: 70px;
    height: 103px;
  }
}
#lsdv .EDM svg {
  display: none;
}
#lsdv .modal-dialog .coupon-btn {
  padding: 10px;
  margin: 0 0 20px;
}
#lsdv .modal-dialog .copycoupon-input, #lsdv .modal-dialog .copycoupon-btn {
  outline: none;
  border: 0;
  position: relative;
  float: left;
  padding: 15px;
  text-align: center;
  color: white;
}
#lsdv .modal-dialog .copycoupon-input {
  background: #c72612;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
@media (min-width: 1200px) {
  #lsdv .modal-dialog .copycoupon-input {
    border-radius: 50px 0 0 50px;
    margin: 0 0 30px;
    font-size: 1.5em;
  }
}
#lsdv .modal-dialog .copycoupon-btn {
  background-color: #881a0c;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
@media (min-width: 1200px) {
  #lsdv .modal-dialog .copycoupon-btn {
    padding: 21px 20px;
    border-radius: 0 50px 50px 0;
  }
}
#lsdv #modal-container2 a {
  cursor: pointer;
}

.GoTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 100;
}
